body { margin: 0; }

.container { width: 100%; margin: 0 auto; max-width: 1600px; }

.top_menu { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: start; -ms-flex-align: center; align-items: center; width: 100%; margin: 0 auto; background-color: black; -ms-flex-direction: row; flex-direction: row; }

.top_menu > ul { display: -ms-flexbox; display: flex; padding-left: 10%; width: 100%; list-style-type: none; }

.top_menu > ul > li { padding-right: 2%; text-align: center; }

.top_menu > ul > li > a { font-size: 14px; color: white; font-weight: bold; text-decoration: none; max-width: 100%; }

.top_menu > ul > li > a:hover { border-bottom: 2px solid #b88b58; padding-bottom: 13px; }

.top_menu img { padding-left: 16%; }

.hero { background-image: url("../images/jumbotron.png"); background-position: center; background-repeat: no-repeat; background-size: cover; margin: 0 auto; }

.slogan { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; position: relative; }

.slogan .design { font-size: 72px; color: white; font-weight: bold; margin: 0; padding-top: 240px; }

.slogan .comunication { font-size: 72px; color: #b88b58; font-weight: bold; margin: 0; }

.slogan .number { font-size: 24px; color: white; font-weight: bold; margin: 0; }

.slogan img { margin-bottom: 35px; }

.slogan .call { position: absolute; bottom: -5%; right: 5%; margin: 0; }

.button { margin-top: 40px; margin-bottom: 180px; width: 190px; height: 45px; background-color: #b88b58; color: white; border-radius: 50px; }

.who { margin: 0; margin-top: 5px; margin-bottom: 50px; font-size: 10px; color: #aeaeae; }

.about_us { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #f7f7f7; }

.about_us h1 { margin: 0; margin-top: 50px; }

.about_us .description { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: start; justify-content: start; max-width: 37%; }

.about_us .description p { width: 100%; margin: 0; }

.about_us .learn { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: row; flex-direction: row; }

.about_us img { max-width: 445px; max-height: 275px; }

.services { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: black; }

.services h2 { color: white; margin: 0; margin-top: 50px; }

.services .serv_for { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; padding-bottom: 40px; }

.services .serv { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; max-width: 20%; text-align: center; border-left: 1px solid #aeaeae; padding: 0 10px; }

.services .serv p { color: white; }

.services .serv .small_desc { margin: 0; margin-top: 5px; margin-bottom: 50px; font-size: 10px; color: #aeaeae; }

.services .serv_last { border-right: 1px solid #aeaeae; }

.projects { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #f7f7f7; }

.projects nav { background: #ededed; border-radius: 50px; width: 710px; }

.projects nav ul { padding: 0; text-align: center; }

.projects nav ul li { display: inline; margin: 10px; width: 100px; }

.projects nav ul li:hover { border-bottom: 5px solid #b88b58; }

.projects .l1 img { margin: 30px 30px; }

.our_team { background-image: url("../images/team_bg.png"); display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.our_team img { margin-bottom: 40px; }

.our_team h2 { color: white; }

.our_team .workers { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: row; flex-direction: row; width: 100%; }

.our_team .box { background: white; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; margin-right: 2%; width: 22%; margin-bottom: 50px; }

.our_team .box img { margin: 45px 0; }

.our_team .box .name { font-size: 21px; margin-bottom: 5px; }

.our_team .box .position { margin-top: 0; margin-bottom: 40px; }

.our_team .box .icons { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; margin-bottom: 40px; }

.our_team .box .icons .fab { color: white; }

.our_team .box .icons .fas { color: white; }

.circle { height: 40px; width: 40px; border-radius: 50%; background-color: #bebebe; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin-right: 4px; }

.happy_clients { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #f7f7f7; }

.happy_clients .name { font-weight: bold; font-family: 'Montserrat', sans-serif; font-size: 24px; margin-bottom: 15px; }

.happy_clients .position { margin: 0; font-size: 18px; }

.happy_clients .quotation { font-family: 'K2D', sans-serif; font-size: 100px; margin: 0; }

.happy_clients .description { max-width: 50%; text-align: center; margin-bottom: 50px; }

.happy_clients .pagination { margin-bottom: 50px; }

.happy_clients_logo { border-top: 2px solid #cfcfcf; border-bottom: 2px solid #cfcfcf; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-direction: row; flex-direction: row; padding: 50px 0; }

.happy_clients_logo img { margin: 0 50px; }

.price { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #ededed; }

.price .boxes { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; text-align: center; -ms-flex-direction: row; flex-direction: row; width: 100%; margin-bottom: 50px; }

.price .title { margin-top: 30px; }

.price .price_who { margin: 0; margin-top: 5px; margin-bottom: 50px; font-size: 10px; color: #aeaeae; }

.price .box { width: 16%; background-color: #f7f7f7; margin-left: 30px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.price .box .box_price { font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: 700; margin-bottom: 0; }

.price .box .month { margin-top: 0; font-size: 14px; color: #aeaeae; }

.price .button { margin: 30px 0; background-color: #373737; width: 130px; }

.price .button:hover { background-color: #b88b58; }

.price .line { border-bottom: 1px solid black; width: 10px; }

.price p { margin: 6px 0; }

.premium { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.premium .books { margin-left: 8%; margin-right: 2%; }

.premium .row { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; }

.premium .menu { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: start; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; }

.premium .menu img { margin-right: 30px; }

.premium .list { margin-left: 64px; color: #aeaeae; }

.premium .big_line { border-bottom: 1px solid #aeaeae; width: 80%; margin: 40px 0; }

.premium button { margin-bottom: 60px; }

.some_facts { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #000000; }

.some_facts h2 { color: white; }

.some_facts .row { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; width: 100%; margin-bottom: 80px; }

.some_facts .row .box { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; width: 13%; text-align: center; margin: 0 20px; }

.some_facts .row .box .number { font-family: 'Montserrat', sans-serif; font-size: 48px; font-weight: 700; color: #b88b58; margin-bottom: 15px; }

.some_facts .row .box .line { border-bottom: 1px solid #7e7e7e; width: 30px; color: #7e7e7e; }

.some_facts .row .box p { color: white; }

.some_facts .row .box .name { font-weight: bold; }

.some_facts .row .box .name-1 { margin-bottom: auto; }

.some_facts .row .box .desc { font-size: 12px; color: #7e7e7e; }

.share { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; border-top: 1px solid #cfcfcf; border-bottom: 1px solid #cfcfcf; }

.share .fab { color: white; }

.share .circle { height: 33px; width: 33px; border-radius: 50%; background-color: #bebebe; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin-right: 4px; margin-top: 30px; margin-bottom: 30px; }

.share .twitter { background-color: #34c5f0; }

.share .linkedin { background-color: #127cb4; }

.share .facebook { background-color: #336297; }

.share .google { background-color: #e74237; }

.share .pinterest { background-color: #b71c29; }

.share p { margin-right: 30px; color: #aeaeae; }

.share img { margin-right: 15px; }

.contact_us { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.contact_us .who { margin-bottom: 100px; }

.contact_us .form { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; width: 34%; }

.contact_us .form input { padding-bottom: 15px; color: #9e9e9e; }

.contact_us .name { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; width: 100%; margin-bottom: 30px; }

.contact_us .name .nameMail { width: 48%; border: 0; border-bottom: 1px solid #aeaeae; }

.contact_us .subject { width: 40%; border: 0; border-bottom: 1px solid #aeaeae; width: 100%; margin-bottom: 85px; }

.contact_us .subject2 { margin-bottom: 50px; }

.contact_us button { margin-bottom: 75px; }

.map { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: start; -ms-flex-align: center; align-items: center; background-image: url("../images/map.png"); position: relative; }

.map .info { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: start; -ms-flex-direction: column; flex-direction: column; background-color: white; margin: 20px 0; margin-left: 16%; padding-left: 40px; padding-right: 120px; padding-top: 60px; padding-bottom: 60px; }

.map .row { display: -ms-flexbox; display: flex; -ms-flex-pack: start; justify-content: start; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; }

.map .circle_line { width: 65px; height: 65px; border-radius: 50%; background-color: #b88b58; position: absolute; left: 70px; bottom: -30px; }

.map .circle_line .line_1 { height: 15px; color: white; transform: skew(-45deg); margin: 0; border-right: 3px solid white; position: relative; left: -38px; top: 25px; }

.map .circle_line .line_2 { height: 15px; width: 40px; color: white; transform: skew(45deg); margin: 0; border-left: 3px solid white; position: relative; left: 38px; top: 10px; }

footer { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; background-color: #000000; }

footer .row { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: row; flex-direction: row; margin-top: 30px; margin-bottom: 140px; margin-right: 150px; }

footer .copyright { color: white; font-size: 14px; margin-bottom: 40px; }

footer .circle { background-color: #373737; width: 33px; height: 33px; }

footer .fab { color: white; }

footer .fas { color: white; }

footer .medium { width: 21%; color: #7e7e7e; }

footer .box { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; background-color: #373737; padding: 65px; margin-left: 33px; margin-top: 32px; margin-bottom: 32px; }

footer .box input { padding-bottom: 15px; background-color: #373737; color: #9e9e9e; text-align: center; border: 0; border-bottom: 1px solid #aeaeae; margin-bottom: 25px; }

footer .button { margin: 0; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.overlay.show { display: block; }

.modal { display: none; background: #fff; width: 350px; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); }

.modal.show { display: block; }

.modal .close { position: absolute; right: 0; top: 0; padding: 5px; color: #000; text-decoration: none; }

.modal .content { min-height: 30px; padding: 65px 30px; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-direction: column; flex-direction: column; }

.modal .content input { width: 40%; border: 0; color: #aeaeae; border-bottom: 1px solid #aeaeae; width: 100%; margin-bottom: 50px; padding-bottom: 15px; }

.modal .content button { margin: 0; }
