//* {
 // box-sizing: border-box;
//}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.top_menu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  flex-direction: row;

  > ul {
    display: flex;
    padding-left: 10%;
    width: 100%;
    list-style-type: none;
  
    > li {
    padding-right: 2%;
    text-align: center;

      > a {
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        max-width: 100%;
      }

      > a:hover {
        border-bottom: 2px solid rgb(184, 139, 88);
        padding-bottom: 13px;
      }
    }
  }

  img {
    padding-left: 16%;
  }
}

.hero {
	background-image: url('../images/jumbotron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .design {
    font-size: 72px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-top: 240px;
  }

  .comunication {
    font-size: 72px;
    color: rgb(184, 139, 88);
    font-weight: bold;
    margin: 0;
  }

  .number {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 0;
  }

  img {
    margin-bottom: 35px;
  }
  .call {
    position: absolute;
    bottom: -5%;
    right: 5%;
    margin: 0;
  }
}

.button {
    margin-top: 40px;
    margin-bottom: 180px;
    width: 190px;
    height: 45px;
    background-color: rgb(184, 139, 88);
    color: white;
    border-radius: 50px;
}

.who {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 10px;
    color: rgb(174, 174, 174);
  }

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);

  h1 {
    margin: 0;
    margin-top: 50px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 37%;

    p {
      width: 100%;
      margin: 0;
    }
  }

  .learn {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  img {
    max-width: 445px;
    max-height: 275px;
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  
  h2 {
    color: white;
    margin: 0;
    margin-top: 50px;
  }

  .serv_for {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 40px; 
  }
  
  .serv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20%;
    text-align: center;
    border-left: 1px solid rgb(174, 174, 174);
    padding: 0 10px;
  
    p {
      color: white;
    }

    .small_desc {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 50px;
      font-size: 10px;
      color: rgb(174, 174, 174);
    }
  }
  .serv_last {
    border-right: 1px solid rgb(174, 174, 174);
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  
  nav {
    background: rgb(237, 237, 237);
    border-radius: 50px;
    width: 710px;
    border: 1px solid #cfcfcf;
    height: 60px;

    ul {
      padding: 10px 0;
      text-align: center;
      margin: 0 auto;
      
      li {
        display: inline-block;
        min-width: 80px;
        padding: 10px;
      }
      
      .line {
        border-left: 1px solid #cfcfcf;
      }

      li:hover {
        border-bottom: 5px solid #b88b58; 
        cursor: pointer;
      }
    }
  }

  .l1 img {
    margin: 30px 30px;
  } 
}

.our_team {
  background-image: url("../images/team_bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
      margin-bottom: 40px;
    }
  
  h2 {
    color: white;
  }
  .workers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2%;
    width: 22%;
    margin-bottom: 50px;

    img {
      margin: 45px 0;
    }

    .name {
      font-size: 21px;
      margin-bottom: 5px;
    }

    .position {
      margin-top: 0;
      margin-bottom: 40px;
    }

    .icons {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;

      .fab {
        color: white;
      }
      .fas {
        color: white;
      }
    }
  }
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

.happy_clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);

  .name {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .position {
    margin: 0;
    font-size: 18px;
  }

  .quotation {
    font-family: 'K2D', sans-serif;
    font-size: 100px;
    margin: 0;
  }

  .description {
    max-width: 50%;
    text-align: center;
    margin-bottom: 50px;
  }

  .pagination {
    margin-bottom: 50px;
  }
}

.happy_clients_logo {
  border-top: 2px solid rgb(207, 207, 207);
  border-bottom: 2px solid rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px 0;

  img {
    margin: 0 50px;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(237, 237, 237);

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
  }

  .title {
    margin-top: 30px;
  }
  
  .price_who {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 10px;
    color: rgb(174, 174, 174);
  }

  .box {
    width: 16%;
    background-color: rgb(247, 247, 247);
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .box_price {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .month {
      margin-top: 0;
      font-size: 14px;
      color: #aeaeae;
    }
  }
  
  .button {
    margin: 30px 0;
    background-color: rgb(55, 55, 55);
    width: 130px;
  }

  .button:hover {
    background-color: #b88b58;
  }

  .line {
    border-bottom: 1px solid black;
    width: 10px;
  }

  p {
    margin: 6px 0;
  }
}

.premium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .books {
    margin-left: 8%;
    margin-right: 2%;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .menu {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    img {
      margin-right: 30px;
    }
  }

  .list {
      margin-left: 64px;
      color: rgb(174, 174, 174);
    }

  .big_line {
    border-bottom: 1px solid rgb(174, 174, 174);
    width: 80%;
    margin: 40px 0;
  }

  button {
    margin-bottom: 60px;
  }
}

.some_facts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;

  h2 {
    color: white;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 80px;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 13%;
      text-align: center;
      margin: 0 20px;

      .number {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #b88b58;
        margin-bottom: 15px;
      }
      
      .line {
        border-bottom: 1px solid #7e7e7e;
        width: 30px;
        color: #7e7e7e;
      }

      p {
        color: white;
      }
      
      .name {
        font-weight: bold;
      }

      .name-1 {
        margin-bottom: auto;
      }

      .desc {
        font-size: 12px;
        color: #7e7e7e;
      }
    }
  }
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  
  .fab {
    color: white;
  }
  .circle {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .twitter {
    background-color: #34c5f0;
  }

  .linkedin {
    background-color: #127cb4;
  }

  .facebook {
    background-color: #336297;
  }

  .google {
    background-color: #e74237;
  }

  .pinterest {
    background-color: #b71c29;
  }

  p {
    margin-right: 30px;
    color: #aeaeae;
  }

  img {
    margin-right: 15px;
  }
}

.contact_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .who {
    margin-bottom: 100px;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 34%;

    input {
      padding-bottom: 15px;   
      color: #9e9e9e;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
    
    .nameMail {
    width: 48%;
    border: 0;
    border-bottom: 1px solid #aeaeae;
    }
  }

  .subject {
    width: 40%;
    border: 0;
    border-bottom: 1px solid #aeaeae;
    width: 100%;
    margin-bottom: 85px;
  }

  .subject2 {
    margin-bottom: 50px;
  }

  button {
    margin-bottom: 75px;
  }
}

.map {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url('../images/map.png');
  position: relative;

  .info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    margin: 20px 0;
    margin-left: 16%;
    padding-left: 40px;
    padding-right: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .row {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }

  .circle_line {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #b88b58;
    position: absolute;
    left: 70px;
    bottom: -30px;

    .line_1 {
      height: 15px;
      color: white;
      transform: skew(-45deg);
      margin: 0;
      border-right: 3px solid white;
      position: relative;
      left: -38px;
      top: 25px;
    }

    .line_2 {
      height: 15px;
      width: 40px;
      color: white;
      transform: skew(45deg);
      margin: 0;
      border-left: 3px solid white;
      position: relative;
      left: 38px;
      top: 10px;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 140px;
    margin-right: 150px;
  }
  
  .copyright {
    color: white;
    font-size: 14px;
    margin-bottom: 40px;
  }

  .circle {
    background-color: #373737;
    width: 33px;
    height: 33px;
  }

  .fab {
    color: white;
  }

  .fas {
    color: white;
  }

  .medium {
    width: 21%;
    color: #7e7e7e;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #373737;
    padding: 65px;
    margin-left: 33px;
    margin-top: 32px;
    margin-bottom: 32px;

    input {
      padding-bottom: 15px;
      background-color: #373737;
      color: #9e9e9e;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #aeaeae;
      margin-bottom: 25px;
    }
  }

  .button {
    margin: 0;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  
  &.show {
    display: block;
  }
}

.modal {
  display: none;
  background: #fff;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  &.show {
    display: block;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #000;
    text-decoration: none;
  }

  .content {
    min-height: 30px;
    padding: 65px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
      width: 40%;
      border: 0;
      color: #aeaeae;
      border-bottom: 1px solid #aeaeae;
      width: 100%;
      margin-bottom: 50px;
      padding-bottom: 15px;
    }

    button {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .top_menu ul {
    flex-direction: column;
    align-items: flex-end;
    
    li {
      margin-bottom: 3%;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .l1 {
    width: calc(100% - 35%);
  }

  .icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .our_team {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .about_us {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .some_facts {
    h2 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .happy_clients_logo {
    flex-wrap: wrap;
    
    img {
      margin-bottom: 3%;  
    }
  }

  .share {
    p {
      font-size: 14px;
    }
  }

  .desc {
    font-size: 14px;
  }
}
