//* {
 // box-sizing: border-box;
//}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
}

.top_menu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  flex-direction: row;

  > ul {
    display: flex;
    padding-left: 10%;
    width: 100%;
    list-style-type: none;
  
    > li {
    padding-right: 2%;
    text-align: center;
      > a {
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        max-width: 100%;
      }
      > a:hover {
        border-bottom: 2px solid rgb(184, 139, 88);
      }
    }
  }

  img {
    padding-left: 16%;
  }
}

.hero {
	background-image: url('../images/jumbotron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .design {
    font-size: 72px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-top: 240px;
  }

  .comunication {
    font-size: 72px;
    color: rgb(184, 139, 88);
    font-weight: bold;
    margin: 0;
  }

  .number {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 0;
  }

  img {
    margin-bottom: 35px;
  }
  .call {
    position: absolute;
    bottom: -5%;
    right: 5%;
    margin: 0;
  }
}

.button {
    margin-top: 40px;
    margin-bottom: 180px;
    width: 190px;
    height: 45px;
    background-color: rgb(184, 139, 88);
    color: white;
    border-radius: 50px;
}

.who {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 10px;
    color: rgb(174, 174, 174);
  }

.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);

  h1 {
    margin: 0;
    margin-top: 50px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 37%;

    p {
      width: 100%;
      margin: 0;
    }
  }

  .learn {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  img {
    max-width: 445px;
    max-height: 275px;
  }
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  
  h2 {
    color: white;
    margin: 0;
    margin-top: 50px;
  }

  .serv_for {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 40px; 
  }
  
  .serv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 20%;
    text-align: center;
    border-left: 1px solid rgb(174, 174, 174);
    padding: 0 10px;
  
    p {
      color: white;
    }

    .small_desc {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 50px;
      font-size: 10px;
      color: rgb(174, 174, 174);
    }
  }
  .serv_last {
    border-right: 1px solid rgb(174, 174, 174);
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);

  .buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4%;

    .projects_button {
      height: 55px;
      width: 110px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      text-align: center;
      line-height: 55px;
      font-size: 14px;
      background-color: rgb(237, 237, 237);
    }

    .projects_button:before {
      content: " ";
      display: flex;
      position: absolute;
      height: 50px;
      margin-top: 3px;
      border-right: 1px solid black;
    }

  }
  .buttons:before {
    content: " ";
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 55px;
    height: 55px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(237, 237, 237);
  }
  .buttons:after {
    content: " ";
    display: block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 55px;
    height: 55px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgb(237, 237, 237);
  }

  .l1 img {
    margin: 30px 30px;
  }

}

.our_team {
  background-image: url("../images/team_bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
      margin-bottom: 40px;
    }
  
  h2 {
    color: white;
  }
  .workers {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }

  .box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 2%;
    width: 22%;
    margin-bottom: 50px;

    img {
      margin: 45px 0;
    }

    .name {
      font-size: 21px;
      margin-bottom: 5px;
    }

    .position {
      margin-top: 0;
      margin-bottom: 40px;
    }

    .icons {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;

      .fab {
        color: white;
      }
      .fas {
        color: white;
      }
    }
  }
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

.happy_clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 247, 247);

  .name {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .position {
    margin: 0;
    font-size: 18px;
  }

  .quotation {
    font-family: 'K2D', sans-serif;
    font-size: 100px;
    margin: 0;
  }

  .description {
    max-width: 50%;
    text-align: center;
    margin-bottom: 50px;
  }

  .pagination {
    margin-bottom: 50px;
  }
}

.happy_clients_logo {
  border-top: 2px solid rgb(207, 207, 207);
  border-bottom: 2px solid rgb(207, 207, 207);
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px 0;

  img {
    margin: 0 50px;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
  }
}

.premium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .menu {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }
}

.some_facts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact_us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.map {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url('../images/map.png');

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 20px 0;
    margin-left: 16%;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .medium {
    width: 30%;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .button {
    margin: 0;
  }
}
